.reveal .slides {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    text-align: center;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.box {
    border: 3px solid rgba(0, 0, 0, 0.75) !important;
    border-radius: 10px;
}

section[data-background] h2{
    color: white;
}

.emoji {
    max-height: 50px !important;
    max-width: 50px  !important;
    border: none     !important;
    background: none !important;
    box-shadow: none !important;
}

.spacer-lg {
    min-height: 20px;
    min-width:  20px;
}

.reveal pre {
    width: auto;
}

.reveal pre code {
    font-size: 175%;
    max-height: 10000px;
    line-height: 1.1em;
}

.reveal div.border-right {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 4px solid rgba(125, 125, 125, 0.2);
}

.reveal div.pad-top {
    padding-top: 20px;
}

.reveal div.pad-botttom {
    padding-bottom: 20px;
}

.reveal div.pad-right {
    padding-right: 20px;
}

.reveal .pad-left {
    padding-left: 20px;
}
